<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Car Collection{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('build/app.css')}}">
            
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body class="bg-secondary">
        <header class="fixed-top">
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container-fluid">
                <a class="navbar-brand ms-5" href="/cars">My Car Collection</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarColor02">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                    <a class="nav-link" href="/cars">Home
                    </a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link" href="/cars/other">Other cars</a>
                    </li>
                    {% if app.user %}
                    <li class="nav-item">
                    <a class="nav-link" href="/user">Profile</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link" href="/logout">Logout</a>
                    </li>
                    {% else %}
                    <li class="nav-item">
                    <a class="nav-link" href="/login">Login</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link" href="/register">Register</a>
                    </li>
                    {% endif %}
                </ul>
                </div>
            </div>
            </nav>
        </header>
        <div class="p-4 mt-5"></div>
        {% block body %}{% endblock %}
        <div class="p-2 mt-5"></div>
        <footer class="footer fixed-bottom bg-dark d-flex justify-content-center align-items-center" style="height: 50px">
            <div class="text-light">Copyright &copy; Bartosz Wolniewicz 2022</div>
        </footer>
    </body>
</html>
